version: "3.9"

services:

  postgres:
    image: postgres:16-alpine
    container_name: fire-postgres
    environment:
      POSTGRES_DB: fire
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "1111:5432"
    volumes:
      - fire_postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - fire-network


  redis:
    image: redis:7-alpine
    container_name: fire-redis
    command: redis-server --requirepass ${REDIS_PWD:-fire123}
    ports:
      - "2222:6379"
    volumes:
      - fire_redis_data:/data
    networks:
      - fire-network


  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: fire-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "3333:2181"
    networks:
      - fire-network


  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: fire-kafka
    depends_on:
      - zookeeper
    ports:
      - "4444:9092"
      - "5555:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: fire-zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:4444
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - fire-network


  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    container_name: fire-keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_PROXY: none
    ports:
      - "6666:8080"
    volumes:
      - fire_keycloak_data:/opt/keycloak/data
    depends_on:
      - postgres
    networks:
      - fire-network


  minio:
    image: minio/minio:latest
    container_name: fire-minio
    ports:
      - "7777:9000"
      - "8888:9001"
    environment:
      MINIO_ROOT_USER: fire-user
      MINIO_ROOT_PASSWORD: fire-password
    volumes:
      - fire_minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - fire-network


  minio-client:
    image: minio/mc:latest
    container_name: fire-minio-client
    depends_on:
      - minio
    networks:
      - fire-network
    entrypoint: >
      /bin/sh -c "
      sleep 10;
      mc alias set local http://fire-minio:9000 fire-user fire-password;
      mc mb local/fire --ignore-existing;
      mc mb local/fire-tmp --ignore-existing;
      mc version enable local/fire;
      echo 'MinIO configured';
      tail -f /dev/null
      "


  n8n:
    image: n8nio/n8n:latest
    container_name: fire-n8n
    ports:
      - "9999:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=admin
      - N8N_BASIC_AUTH_PASSWORD=Fire123!
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - NODE_ENV=production
      - GENERIC_TIMEZONE=Asia/Qyzylorda
      - N8N_SECURE_COOKIE=false
    volumes:
      - fire_n8n_data:/home/node/.n8n
    networks:
      - fire-network


volumes:
  fire_postgres_data:
  fire_redis_data:
  fire_keycloak_data:
  fire_minio_data:
  fire_n8n_data:


networks:
  fire-network:
    driver: bridge