spring:
  application:
    name: ticket-intake-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    properties:
      sasl:
        jaas:
          config: ${KAFKA_JAAS_CONFIG:org.apache.kafka.common.security.plain.PlainLoginModule required username="admin" password="admin";}
        mechanism: ${KAFKA_SASL_MECHANISM:PLAIN}
      security:
        protocol: ${KAFKA_SECURITY_PROTOCOL:SASL_PLAINTEXT}
    admin:
      properties:
        sasl.jaas.config: ${KAFKA_JAAS_CONFIG:org.apache.kafka.common.security.plain.PlainLoginModule required username="admin" password="admin";}
        sasl.mechanism: ${KAFKA_SASL_MECHANISM:PLAIN}
        security.protocol: ${KAFKA_SECURITY_PROTOCOL:SASL_PLAINTEXT}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP_ID:ticket-intake-service-group}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: kz.enki.fire.ticket_intake_service.dto.kafka
        spring.json.value.default.type: kz.enki.fire.ticket_intake_service.dto.kafka.AssignmentResultMessage
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:1111/fire}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: false

server:
  port: 8082

app:
  security:
    cors:
      allowed-origins: ${CORS_ALLOWED_ORIGINS:"*"}
      allowed-methods: ${CORS_ALLOWED_METHODS:"GET,POST,PUT,DELETE,OPTIONS"}
      allowed-headers: ${CORS_ALLOWED_HEADERS:"*"}
      allow-credentials: ${CORS_ALLOW_CREDENTIALS:true}
  kafka:
    topic:
      incoming: ${KAFKA_TOPIC_INCOMING:incoming_tickets}
      assignment-result: ${KAFKA_TOPIC_ASSIGNMENT_RESULT:final_distribution}

evaluation:
  base-url: ${EVALUATION_BASE_URL:http://localhost:8092}
  assign-path: ${EVALUATION_ASSIGN_PATH:/api/v1/intake}

n8n:
  url: ${N8N_URL:http://localhost}
  port: ${N8N_PORT:5678}
  webhook-path: ${N8N_WEBHOOK_PATH:/webhook-test/ticket}
  api-key: ${N8N_API_KEY:reqres_bfea449a338147e6aff41a56a3067e4e}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: ${SWAGGER_TRY_IT_OUT_ENABLED:false}

logging:
  level:
    root: INFO
    liquibase: DEBUG
    org.springframework.boot.autoconfigure.liquibase: DEBUG
