spring:
  application:
    name: ticket-intake-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:1111/fire}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true

server:
  port: 8081

logging:
  level:
    root: INFO
    liquibase: DEBUG
    org.springframework.boot.autoconfigure.liquibase: DEBUG
