spring:
  application:
    name: ticket-intake-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:4444}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:1111/fire}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true

server:
  port: 8082

app:
  kafka:
    topic:
      incoming: ${KAFKA_TOPIC_INCOMING:incoming_tickets}

n8n:
  url: ${N8N_URL:http://localhost}
  port: ${N8N_PORT:5678}
  webhook-path: ${N8N_WEBHOOK_PATH:/webhook-test/ticket}
  api-key: ${N8N_API_KEY:reqres_bfea449a338147e6aff41a56a3067e4e}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha
    try-it-out-enabled: ${SWAGGER_TRY_IT_OUT_ENABLED:false}

logging:
  level:
    root: INFO
    liquibase: DEBUG
    org.springframework.boot.autoconfigure.liquibase: DEBUG
